<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Charts</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" >
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/custom.css') }}" >


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
  </head>
  <body>

    <div class="container-fluid">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a id="btn" href="{{ url_for('btn') }}">BTN (q)</a></li>
              <li><a id="sb_vs_btn" href="{{url_for('sb_vs_btn')}}">SB vs BTN (w)</a></li>
              <li><a id="bb_vs_btn" href="{{ url_for('bb_vs_btn') }}">BB vs BTN (e)</a></li>
              <li><a id="bvb" href="{{ url_for('bvb') }}">BVB (r)</a></li>
              <li><a id="hu" href="{{ url_for('hu') }}">HU (t)</a></li>

            </ul>
          </div><!--/.nav-collapse -->
      </nav>
    {% block content %}
    {% endblock %}

    </div> <!-- /container -->
  </body>
</html>